body {
  padding: 0;
  margin: 0;
  background-color: cadetblue;
}

header {
  padding: 12px 30px;
  background-color: turquoise;
  display: flex;
  border-bottom: 5px solid rgba(46, 46, 233, 0.7);
  box-shadow: 45px;
  justify-content: center;
  align-items: center;
}

nav {
  text-align: center;
  background-color: aquamarine;
  font-weight: 900;
}

.nav {
  margin: 0px;
}

nav ul li {
  display: inline-block;
  margin: 10px;
  padding: 0px;
}

#division {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-top: 30px;
}

.card {
  height: 200px;
  width: 250px;
  margin: 20px 20px 20px 20px;
  background-color: rgb(0, 111, 126);
}

h4 {
  color: white;
  text-align: center;
}

a {
  color: aqua;
  text-decoration: none;
}

a:hover {
  color: chartreuse;
}

a:visited {
  color: violet;
}

.enlaces {
  /* margin: 0px 0px 0px 15px */
  text-align: center;
}

ul {
  padding: 0;
}